<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
<!-- Generated via Iro -->
<dict>
  <key>fileTypes</key>
  <array> 
    <string>kind</string>
   </array>
  <key>name</key>
  <string>kind</string>
  <key>patterns</key>
  <array> 
    <dict>
      <key>include</key>
      <string>#main</string>
    </dict>
   </array>
  <key>scopeName</key>
  <string>source.kind</string>
  <key>uuid</key>
  <string></string>
  <key>repository</key>
  <dict>
    <key>main</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#keyword</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#punctuation</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#type</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#numeric</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\blet\s|\bdup\s|\bcpy\s|\bget\s)</string>
          <key>name</key>
          <string>storage.type.kind</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\&quot;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.kind</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>string.kind</string>
          <key>end</key>
          <string>(\&quot;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.kind</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>((\s*|\t*)//.*)</string>
          <key>name</key>
          <string>comment.line.double-slash.kind</string>
        </dict>
       </array>
    </dict>
    <key>keyword</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\btype\s|\blet\s|\bdef\s)</string>
          <key>name</key>
          <string>keyword.other.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bopen\s)</string>
          <key>name</key>
          <string>keyword.control.auxiliar.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\brefl\b|\bcomm\b|\bbind\b|\bpure\b|\bnil\b|\bpred\b|\badd\b|\bcons\b|\bnew\b|\bhead\b|\btail\b|\bfst\b|\bsnd\b|\bsize\b|\bapply\b|\bkay\b|\bmap\b|\bsum\b|\bdefault\b|\b_\b|\bsome\b|\bnone\b|\bconcat\b|\brewrite\b|\sub\b|\bmul\b|\bdiv\b|\bltn\b|\blte\b|\beql\b|\bgte\b|\band\b|\bor\b|\bvalue\b|\bobj\b)</string>
          <key>name</key>
          <string>keyword.auxiliar.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bif\s|\bthen\b|\belse\b|\bcase\b|for\s|\sin\s|\with\s)</string>
          <key>name</key>
          <string>keyword.conditional.kind</string>
        </dict>
         <dict>
          <key>match</key>
          <string>(\bNat\b)</string>
          <key>name</key>
          <string>keyword.number.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bsucc\b|\bzero\b)</string>
          <key>name</key>
          <string>keyword.number.auxiliar.kind</string>
        </dict>
       </array>
    </dict>
    <key>numeric</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\b[01]+\b)</string>
          <key>name</key>
          <string>constant.numeric.integer.binary.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(^0[0-7]+$)</string>
          <key>name</key>
          <string>constant.numeric.integer.octal.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(^[\d.]+$)</string>
          <key>name</key>
          <string>constant.numeric.integer.decimal.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\b[\d]?([\d][u]))</string>
          <key>name</key>
          <string>constant.numeric.integer.u.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(0[a-z\x\x{007b}007c\x{007d}A-Z][0-9a-fA-F]+)</string>
          <key>name</key>
          <string>constant.numeric.integer.hexadecimal.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\b[\x\x{007b}002b\x{007d}-]?([0-9]*[.])?[0-9]+)</string>
          <key>name</key>
          <string>constant.numeric.float.kind</string>
        </dict>
       </array>
    </dict>
    <key>punctuation</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(#|~|!|\$|\?|\+|%|&amp;|\*)</string>
          <key>name</key>
          <string>punctuation.definition.variable.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(=|:|=[\x{003e}]|=&gt;|\s-&gt;\s|~[\x{003e}]|,|\.|&lt;|&gt;|;)</string>
          <key>name</key>
          <string>punctuation.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\[|\]|\{|\}|\(|\)|\|)</string>
          <key>name</key>
          <string>punctuation.kind</string>
        </dict>
       </array>
    </dict>
    <key>type</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\bNat\b)</string>
          <key>name</key>
          <string>type.numeric.nat.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bU8\b|\bU16\b|\bU32\b|\bU64\b|\bU128\b|\bU256\b)</string>
          <key>name</key>
          <string>type.numeric.nat.u.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bF32\b|\bF64\b)</string>
          <key>name</key>
          <string>type.numeric.float.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bList\b)</string>
          <key>name</key>
          <string>type.polymorphic.list.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bPair\b)</string>
          <key>name</key>
          <string>type.polymorphic.pair.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bArray\b)</string>
          <key>name</key>
          <string>type.polymorphic.array.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bI8\b|\bI16\b|\bI32\b|\bI64\b|\bI128\b|\bI256\b)</string>
          <key>name</key>
          <string>type.numeric.integer.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bBool\b)</string>
          <key>name</key>
          <string>type.boolean.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\btrue\b)</string>
          <key>name</key>
          <string>type.boolean.true.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bfalse\b)</string>
          <key>name</key>
          <string>type.boolean.false.kind</string>
        </dict>
       </array>
    </dict>
  </dict>
</dict>
</plist>
